<section>
    <h2>Was ist Kunsttherapie?</h2>
    <p>Die Kunsttherapie ist eine effektive und effiziente Methode, die einer Person hilft, mit negativen Emotionen umzugehen und neuropsychischen Stress abzubauen. Die Behandlung und Lösung verschiedener Probleme mit Hilfe der bildenden Kunst ist sehr beliebt und für viele zugänglich. Ein Mensch kann sich selbst, seine Gedanken, Erfahrungen, Emotionen und Gefühle – alles, was in seiner inneren Welt verborgen ist – mit Hilfe von Linien, Formen und Farben auf Papier oder Leinwand ausdrücken.</p>
    <p>Zum Zeichnen werden verschiedenste Materialien verwendet: verschiedene Farben (Gouache, Wasserfarbe, Acryl etc.), Bleistifte, Kohle, Pastelle, Wachsmalstifte – alles, was auf Papier Spuren hinterlässt und eine Zeichnung oder einen Druck entstehen lassen kann. Trotz ihrer Wirksamkeit erschien die Kunsttherapie als separate Behandlungsmethode und psychologische Unterstützung vor etwa einem halben Jahrhundert.</p>
</section>

<section>
    <h3>Anwendungsgebiete</h3>
    <p>
        Mit Kunsttherapie kann dabei helfen eine Reihe von Problemen zu bewältigen.
        Die Kunsttherapie erweist sich wirksam gegen Bewältigung von psychischer Anspannung, Aggressivität, Nervosität, Unausgeglichenheit, Eifersucht, Ängste, Impulsivität und  geringem Selbstwertgefühl.
        Laut Statistik haben  mehr als 70 % der Menschen im Laufe ihres Lebens  geringes Selbstwertgefühl und Selbstzweifeln gespürt. Dank der praktischen Übungen der Kunsttherapie kann jeder sein Selbstwertgefühl deutlich steigern und selbstbewusster werden.
        Verhaltensprobleme. Beziehungsprobleme und/oder familiäre Probleme chronischer Stress und psychosomatische Erkrankungen lassen sich mit Hilfe von Kunsttherapie identifizieren und behandeln.
        Bei psychischen Erkrankungen wie Dauerdepressionen, körperlichen Erschöpfungszuständen und posttraumatischen Belastungsstörungen kann Kunsttherapie unterstützend zur Psychotherapie eingesetzte werden.
        Bei chronischen Erkrankungen ist Kunsttherapie eine sinnvolle Begleitung der medizinischen Behandlung. Durch die Kräftigung des Gleichgewichts zwischen Körper Geist und Seele werden natürliche und körpereigene Selbstheilungskräfte aktiviert und gefördert.
    </p>
    <p>
        Darüber hinaus trägt Kunsttherapie zur Offenlegung kreativen Potenzials bei und kann neue Ressourcen und Möglichkeiten in einer Person eröffnen.
        Unten finden Sie die Übersicht von Beispielthemen, die in meiner Praxis mit Kunsttherapie behandelt werden können.
    </p>
</section>

<section>
    <h3>Positive Aspekte der Kunsttherapie</h3>
    <p>
        Was sind die positiven Aspekte der Kunsttherapie? Eine Auswahl einiger Vorteile:
        Es hat keine Kontraindikationen oder Nebenwirkungen
        Es ist sowohl für Erwachsene als auch für Kinder geeignet
        Es lässt sich gut mit Techniken aus anderen Bereichen und Therapien kombinieren
        Das Unterbewusstsein lässt sich nicht täuschen. Das eine zu denken und das Andere zu sagen ist in der Kunsttherapie nicht möglich. Übersteuerung des Bewusstseins wird dadurch reduziert. Die Kunsttherapie weckt Kreativität und Leichtigkeit
        Die Ergebnisse sind greifbar.
        Geeignet für Menschen, die nicht gerne über ihre Probleme sprechen oder Artikulationsprobleme haben.
    </p>
</section>

<section>
    <h3>Themen die ich betreue</h3>
    <ul>
        <li>PRIVAT BERUFLICH</li>
        <li>Trauer</li>
        <li>Scheidung</li>
        <li>Mobbing</li>
        <li>Selbstwertgefühl</li>
        <li>Schuldgefühle</li>
        <li>Thema Familiengründung</li>
        <li>Sexualleben</li>
        <li>Familienleben</li>
    </ul>

    <ul>
        <li>Vergangenheitsbewältigung</li>
        <li>Durchsetzungsvermögen</li>
        <li>Persönliche Stärken</li>
        <li>Physische & Psychische Gewalt, Sexualgewalt</li>
        <li>Einsamkeit</li>
        <li>Energie</li>
        <li>Lebenskraft</li>
        <li>Zielerreichung</li>
        <li>Lebenskrisen</li>
        <li>Mutterschaft</li>
        <li>Gruppenarbeit</li>
        <li>Chronische Schmerzen</li>
        <li>Lebensplanung</li>
        <li>Selbstkontrolle</li>
        <li>Männlichkeit & Weiblichkeit</li>
        <li>Ich und mein  Haustier</li>
    </ul>
</section>
