Was ist Gruppenkunsttherapie?

Die Sitzung ist grob in drei Teile gegliedert. Meditation & Konzentration auf das, was gerade in den Sinn kommt, Prozess der Kunstgestaltung, Analyse und Verbindung zum Kunstwerk.


Ein wesentlicher Teil der Gruppenkunsttherapie ist es, sich wohl genug zu fühlen, um Ihre Gefühle auszudrücken, gute, schlechte und alles dazwischen. In diesem Teil der Gruppenkunsttherapie etablieren wir einen neuen therapeutischen Weg, miteinander in Kontakt zu treten. Ich bitte Klienten, beim Zuhören genau auf Ihre eigenen Gedanken und Gefühle zu achten, die in dem Moment wichtige emotionale Botschaften versenden.

Während des Kunstschaffens arbeiten Sie in Stille, um in Ihre eigene einzigartige Erfahrung mit den Kunstmaterialien einzutauchen. Alles, was am Kunsttisch passiert, hält für Sie Informationen über Ihre innere Welt bereit. Es ist wichtig, sich daran zu erinnern, dass ihre künstlerischen Fähigkeiten keine Rolle spielen und wir den Kunstprozess lediglich dazu nutzen, um eine Verbindung zu Ihren Emotionen herzustellen.


Verbindung zum Kunstwerk - Gemeinsam setzen wir uns hin und schauen uns Ihre Kunstwerke an. Sie verwenden das Kunstwerk, um Ihre Erfahrungen mit der Gruppe zu reflektieren und die Elemente herauszuarbeiten, die für Sie von Bedeutung sind. Als Gruppe hören wir zu und erforschen den Inhalt Ihrer Kunst mit Neugier und Empathie. Die Gruppe unterstützt sich gegenseitig während dieses Austauschs und jede Person erhält die Möglichkeit, über die Gefühle nachzudenken, die während dieses Teils der Gruppe auftauchen. Möglicherweise haben Sie Muster in Ihrem eigenen Denken bemerkt und werden ein Bewusstsein dafür entwickeln, was Sie sich selbst sagen und was andere tatsächlich fühlen. Sie werden erstaunt sein, wie viel Sie über Ihre eigene Fähigkeit lernen, sich mit anderen zu verbinden. Ich sorge dafür, dass sich alle Mitglieder der Gruppe sicher und unterstützt fühlen und die Gruppe mit größerem Verständnis füreinander hervorgeht und gemeinsam als einzigartige Individuen kann.

Kakie materiali:

Kunstherstellung - Die Kunstmaterialien stehen Ihnen zur Auswahl bereit. Gemeinsam schauen wir uns die Materialien an, was reizt Sie an der Verwendung? Es ist wichtig, Ihren Gefühlen in Bezug auf die Kunstmaterialien zu folgen. Jeder hat eine einzigartige Beziehung zu unterschiedlichen Materialien und dies kann sich von Sitzung zu Sitzung ändern. Vielleicht möchten Sie zum Beispiel etwas Ton verwenden, um ein wenig Ärger auszudrücken? Oder Acrylfarbe, um einen grübelnden Gedanken aufzulockern oder einfach nur eine Zeitschrift zerreißen und sehen, was passiert? Die Kunstmaterialien helfen uns, mit der sinnlichen Natur Ihrer Gedanken und Gefühle in Kontakt zu treten.

Bild: Konzentrieren Sie sich zuerst auf das, was Ihnen in den Sinn kommt, indem Sie ein Bild verwenden, dann machen Sie Kunst und schließlich verbinden und unterstützen Sie sich gegenseitig durch Ihre Kunstwerke.


• Was ist Gruppenkunsttherapie?

• Die Sitzung ist grob in drei Teile gegliedert. Meditation & Konzentration auf das, was gerade in den Sinn kommt, Prozess der Kunstgestaltung, Analyse und Verbindung zum Kunstwerk.


• Ein wesentlicher Teil der Gruppenkunsttherapie ist es, sich wohl genug zu fühlen, um Ihre Gefühle, positive wie negative auszudrücken.  In diesem Teil der Gruppenkunsttherapie etablieren wir einen neuen therapeutischen Weg, miteinander in Kontakt zu treten. Zunächst bitte ich Klienten, beim Zuhören genau auf Ihre eigenen Gedanken und Gefühle zu achten, die in dem Moment wichtige emotionale Botschaften versenden.

Während des Kunstprozesses  arbeiten Sie in Stille, um in Ihrer eigenen einzigartigen Erfahrung mit dem psychologischen  Prozess einzutauchen. Alles, was am Kunsttisch passiert, hält für Sie Informationen über Ihre innere Welt bereit. Ihre künstlerischen Fähigkeiten spielen dabei keine Rolle. Wir nutzen den Kunstprozess lediglich dazu, um eine Verbindung zu Ihren Emotionen und Unterbewusstsein herzustellen.


Verbindung zum Kunstwerk:  Gemeinsam setzen wir uns hin und schauen uns Ihre Kunstwerke an. Sie verwenden das Kunstwerk, um Ihre Erfahrungen wöhrend der Gruppensitzung  zu reflektieren und die Elemente herauszuarbeiten, die für Sie von Bedeutung sind. Die Gruppe unterstützt sich gegenseitig während dieses Austauschs und jede Person erhält die Möglichkeit, über die Gefühle nachzudenken, die während dieses Teils der Gruppe auftauchen. Möglicherweise haben Sie Muster in Ihrem eigenen Denken bemerkt und werden ein Bewusstsein dafür entwickeln, was Sie sich selbst sagen und was tatsächlich andere fühlen. Sie werden erstaunt sein, wie viel Sie über Ihre eigenen Fähigkeiten lernen, sich mit anderen zu verbinden. Ich sorge mich dafür, dass sich alle Mitglieder der Gruppe sicher und unterstützt fühlen und die Gruppe mit größerem Verständnis füreinander hervorgeht und gemeinsam als einzigartige Individuen ihre Probleme und Sorgen bearbeiten kann.
