:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-medium);
    color: var(--color-text-primary);
    background-color: var(--color-primary);
}

a:not(:last-child) {
    margin-bottom: var(--spacing-medium);
}
