<section>
    <h2>Ihre Kunst- und Kreativitätstherapeutin in Berlin</h2>
    <p>In meiner Arbeit als Psychologin und Kunsttherapeuten begleite ich Sie auf dem Weg der Genesung und Stärkung Ihrer Lebensressourcen.</p>
    <img src="assets/me-portrait.jpeg" alt="">
    <p>Wir organisieren kunsttherapeutische Gruppentreffen, um relevante Themen zu erarbeiten. In den Gruppentreffen, die ich moderiere, helfe ich den Teilnehmern, eine einzigartige Umgebung mit sicherem, kreativem Raum zu schaffen, in der die Teilnehmer ihre persönlichen Probleme durcharbeiten können, während sie einander mit Respekt und Akzeptanz begegnen. Die Teilnahme für Frauen und Familien, die im Zusammenhang mit dem Krieg aus der Ukraine gekommen sind  ist kostenlos.</p>
</section>
