<!-- <app-parallax-image>
    <div back style="height: 400px; background: red"></div>
    <div base>fdgdfgdf</div>
</app-parallax-image>
<app-parallax-image>
    <div back style="height: 400px; background: green">dfgdfgd</div>
    <div base>fdgdfgdf</div>
</app-parallax-image>
<app-parallax-image>
    <div back style="height: 400px; background: red"></div>
    <div base>fdgdfgdf</div>
</app-parallax-image>
<app-parallax-image>
    <div back style="height: 400px; background: green">dfgdfgd</div>
    <div base>fdgdfgdf</div>
</app-parallax-image> -->
<img src="assets/robbe.jpeg" alt="">
<mat-icon>favorite</mat-icon>
