:host {
    display: block;
    margin: var(--spacing-medium);
}

.image-link-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-medium);

    @media screen and (min-width: 905px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
    }
}
