<!-- <mat-icon>favorite</mat-icon> -->

<p>Hi Schatz. Ja, immer noch Schatz. Du bist die erste und letzte Frau die von mir so genannt wurde.</p>
<img loading="lazy" src="assets/robbe.jpeg">

<p>Der glücklichste Menschen dieser Welt. Wie du es mir mal im Fahrstuhl von den Augen abgelesen hast, ich konnte mein Glük wirklich nicht fassen.</p>
<img loading="lazy" src="assets/DSC_0056.jpg">

<p>Als ich dieses Bild auf meinem Handy entdeckt hatte war dein Platz in meinem Herzen für immer reserviert.</p>
<img loading="lazy" src="assets/DSC_0059.jpg">

<p>Ein furchtbarer Film aber ein traumhaftes Date mit der besten Frau der Welt.</p>
<img loading="lazy" src="assets/IMG-20210630-WA0006.jpg">

<p>Das ist ein besonderes Bild. Wir waren zum ersten Mal bei denen Eltern. Ich war tierisch aufgeregt. Da du deinem Vater noch nie einen deiner Freunde vorgestellt hattest war der Druck sehr hoch. Deine herzliche Art hat es mir zum Glück leicht gemacht und geholfen einen guten Eindruck zu machen.</p>
<img loading="lazy" src="assets/DSC_0157.jpg">

<p>Ich war noch nie so zufrieden mit meinem Leben. Einfach alles war besser und schöner als ich es mir je erträumt habe.</p>
<img loading="lazy" src="assets/DSC_0213.jpg">

<p>Es gibt keine Worte die beschreiben wie stolz ich war dein Freund zu sein.</p>
<img loading="lazy" src="assets/DSC_0502.jpg">

<p>Niemand kann uns das Wasser reichen. Wir sind das wovon andere nur Träumen.</p>
<img loading="lazy" src="assets/DSC_0621.jpg">

<p>Du mochtest dieses Foto nie, ich finde es ganz besonders. Es zeigt dich ganz natürlich und traumhaft schön. Man sieht dein gutes Herz.</p>
<img loading="lazy" src="assets/DSC_0665.jpg">

<p>Ich bewundere dich. Trotz allem was dir in deinem Leben passiert ist hast du immer noch eine kindliche und verspielte Art.</p>
<img loading="lazy" src="assets/DSC_0756.jpg">

<p>Wir waren einfach glücklich.</p>
<img loading="lazy" src="assets/DSC_1110.jpg">

<p>Wow, mir fehlen wie Worte. Neben dir sehe ich wirklich aus wie ein Ork.</p>
<img loading="lazy" src="assets/IMG-20210825-WA0007.jpg">

<p>Wow, Traumpaar</p>
<img loading="lazy" src="assets/IMG-20210807-WA0000.jpg">

<p>Wow, definitiv Traumpaar</p>
<img loading="lazy" src="assets/IMG-20210823-WA0014.jpg">

<p>Wow, mehr Traumpaar geht nicht.</p>
<img loading="lazy" src="assets/IMG-20210821-WA0003.jpg">

<p>Wow, es gibt einfach keine schönere Frau als dich. Wie hieß die Schauspielerin? Keine Ahnung, für mich gibt es nur dich.</p>
<img loading="lazy" src="assets/IMG-20210827-WA0000.jpg">

<p>
    <br>Das letzte schöne Bild mit uns beiden ist aus Prag. Seitdem gibt es keine Bilder mehr. Was ist seitdem passiert? Warum haben wir unser Glück mit unseren wöchentlichen Streits aus den Augen verloren?
    <br>Wie ist aus mir der Mensch geworden der ist jetzt bin? Warum bin ich jemand der ich nie sein wollte? Wie konnte es dazu kommen?
    <br>Warum konnten wir Dauerthemen wie Wohnen und Urlaub nidht lösen? Maria, ich will jeden Tag mit dir verbringen und ich will die ganze Welt mit dir sehen. Ich bin einfach nicht so schnell wie du. Du warst mir immer einen Schritt voraus.
    <br>
    <br>Es tut mir unfassbar leid was ich getan habe. Es gibt keine Worte die beschreiben wie schlecht ich mich fühle. Ich empfinde keinen Spass mehr, an nichts. Damit leben zu müssen was ich dir angetan habe entzieht mir jegliche Energie. Selbst wenn es für alles einen Grund gibt, wie konnte ich das zulassen? Wie konnte das passieren? Wie konnte ich dich so verletzen? Ich war so glücklich mit dir. Ich war so stolz dein Freund zu sein.
    <br>Ich verstehe vieles nicht. Trotzdem ist mir vieles klar geworden und ich hoffe dass wir wieder miteinander reden können. Du hattest mir das Gefühl gegeben dass es nicht unser Ende sein wird.
    <br>Ich liebe dich, ich will dich, ich kann nicht mehr ohne dich.
</p>
