mat-sidenav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @media screen and (min-width: 768px) {
        width: 300px;
    }
}

mat-sidenav-content {
    // background-color: var(--color-primary);
}

.menu-active {
    color: var(--color-text-primary);
    background-color: var(--color-primary);
}
