<mat-sidenav-container fullscreen (backdropClick)="sidenav.close()">
    <mat-sidenav #sidenav mode="over" [autoFocus]="false" (click)="sidenav.close()">
        <app-nav-list [entryList]="menuList"></app-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar
            [style.background-image]="'url(' + headerImage + ')'"
            [style.height]="(isStartPage$ | async) ? '300px' : 'auto'"
        >
            <mat-toolbar-row >
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <a [routerLink]="PagePath.HOME" (click)="sidenav.close()">
                    <h1>{{ title | uppercase }}</h1>
                </a>
            </mat-toolbar-row>
        </mat-toolbar>

        <router-outlet></router-outlet>

        <div *ngIf="showAppointmentButton$ | async" class="appointment-wrapper">
            <mat-divider></mat-divider>
            <a [routerLink]="PagePath.APPOINTMENT">
                <button mat-raised-button color="primary">Termin buchen</button>
            </a>
        </div>
        <mat-divider></mat-divider>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
