<section>
    <p>Eine Kunst-/Therapiesitzung beginnt wie jede andere Richtung mit einer Anfrage. Mit dem Therapeuten zusammen werden Probleme und Ziele besprochen. Während des kreativen Prozesses kann der Therapeut fragen, wie Sie sich fühlen, oder Ihre Aktivitäten anleiten. Nach Abschluss der Arbeit interpretieren Sie das Ergebnis der Arbeit, welche Gedanken und Erinnerungen dabei entstanden sind und was es in Ihnen ausgelöst hat.</p>

    <p>
        Die Kunsttherapie kann sowohl individuell als auch in einer Gruppe                                                                                                                                                                                  durchgeführt werden. Je nach Wunsch und Ziel des Klienten gibt der Psychologe spezielle Übungen und Aufgaben aus dem Bereich der Kunsttherapie vor. . Mit dem Therapeuten zusammen werden Probleme und Ziele besprochen. Während des kreativen Prozesses kann der Therapeut fragen, wie Sie sich fühlen, oder Ihre Aktivitäten anleiten.
        Wenn alle Aufgaben erledigt sind, gehen sie zur zweiten wichtigen Phase über – der Analyse und dem Verständnis der Informationen, die sie ans Licht des Bewusstseins gebracht haben. In dieser Phase haben Klienten oft ihre eigenen persönlichen Einsichten (Insights) – Momente der Klarheit und des Verständnisses ihres Problems.
        Nach Abschluss der Arbeit interpretieren Sie das Ergebnis der Arbeit, welche Gedanken und Erinnerungen dabei entstanden sind und was es in Ihnen ausgelöst hat.
    </p>

    <p>Der Kunde beginnt mit Hilfe eines Psychologen, Wege zur Lösung seiner Probleme zu sehen und zu verstehen, und manchmal wird das Problem direkt im Unterricht beim Erstellen von Zeichnungen gelöst.</p>
</section>
