html,
body {
    height: 100%;
}

body {
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:visited,
    &:hover,
    &:active {
        color: inherit;
        filter: brightness(50%);
    }
}

:root {
    --tablet-width: 905px;

    --spacing-medium: 12px;

    --color-primary: palevioletred;
    --color-text-primary: white;
}
