@use 'screen';

:root {
    --spacing-medium: 12px;
    --spacing-large: 24px;
}

html,
body {
    background-color: var(--color-background);
    height: 100%;
}

body {
    max-width: screen.$large;
    position: relative;
    margin: 0 auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:visited,
    &:hover,
    &:active {
        color: inherit;
    }
}

p {
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

button[mat-raised-button] {
    border-radius: 18px;
}

section {
    // margin-bottom: var(--spacing-large);
    padding: var(--spacing-medium);
}
