@use 'screen';

:root {
    --spacing-medium: 12px;
}

html,
body {
    height: 100%;
}

body {
    max-width: screen.$large;
    position: relative;
    margin: 0 auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:visited,
    &:hover,
    &:active {
        color: inherit;
    }
}

button[mat-raised-button] {
    border-radius: 18px;
}
